h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: Roboto, sans-serif; }

body {
  background: white;
  margin: 0; }

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-size: 16px; }

a {
  text-decoration: none;
  color: white; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }

.nav__item {
  height: 15px;
  display: inline;
  color: white;
  text-align: center;
  line-height: 15px; }
  .nav__item:nth-child(1) {
    border-radius: 10px;
    margin-left: 120px; }
  .nav__item:last-child {
    margin-right: 120px; }

.nav__link {
  padding: 8px 24px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 1s;
  transition: 1s; }
  .nav__link:hover {
    color: #9fadc2; }

.nav__toggler {
  display: display; }

.nav__toggler-label {
  display: display;
  color: white;
  font-size: 30px; }

.nav__active__link {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1); }

@media screen and (max-width: 1000px) {
  .nav {
    position: absolute;
    top: 0; }
    .nav__item:nth-child(1) {
      margin-left: 20px; }
    .nav__item:last-child {
      margin-right: 20px; } }

@media screen and (max-width: 1000px) {
  .nav__list {
    display: none; } }

.header {
  height: 700px;
  background-image: url(/images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 12px;
  font-weight: bold; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__logo {
    background-image: url(/images/logo.png);
    background-size: cover;
    height: 76px;
    width: 115px;
    margin-top: 24px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 120px; }
  .header__phone, .header__action {
    margin-top: 24px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    height: 24px; }
  .header__img-mobile {
    height: 40px;
    width: 40px;
    margin-top: 24px; }
  .header__action {
    border-bottom: 1px solid; }
  .header__middle {
    position: absolute;
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    bottom: 165px;
    margin-left: 120px; }
  .header__middle, .header__phone, .header__action {
    color: white;
    font-style: normal;
    font-weight: bold; }
  .header__middle::before {
    content: "";
    display: block;
    left: 0;
    height: 2px;
    width: 35px;
    border-top: 1px solid;
    color: white;
    margin-bottom: 15px; }

@media screen and (max-width: 1000px) {
  .header__top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header__logo {
    margin: 24px auto; }
  .header__top, .header__middle {
    margin-left: 20px;
    margin-right: 20px; }
  .header__action, .header__link {
    display: none; }
  .header__menu {
    display: block; }
  .header__middle {
    font-size: 46px;
    line-height: 40px;
    bottom: 80px; } }

@media screen and (min-width: 1001px) {
  .header__link-mobile {
    display: none; } }

.section {
  background-color: white;
  position: relative;
  padding: 0 120px;
  margin-bottom: 152px; }

@media screen and (max-width: 1000px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0  20px;
    margin-bottom: 64px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 104px; }
  .info__heading {
    letter-spacing: -1.5px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    margin: 0; }
  .info__text {
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
  .info__text__p {
    margin-bottom: 1em; }
  .info__link {
    color: #0075ff;
    text-decoration: none; }

.text__heading {
  margin-top: 0;
  margin-bottom: 16px;
  color: #0075ff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; }

@media screen and (max-width: 1000px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      text-align: center;
      font-size: 36px;
      line-height: 36px; }
    .info__text {
      margin-top: 48px; } }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
  .photos__wider {
    width: calc(67% - 10px); }
  .photos__narrower {
    width: calc(33% - 10px); }

@media screen and (max-width: 320px) {
  .photos {
    display: grid;
    grid-template-columns: repeat(2, 135px);
    grid-gap: 20px; }
    .photos__img {
      width: 131px;
      height: 131px; } }

.gallery {
  margin-top: 61px; }
  .gallery__button {
    margin: 40px auto 0;
    display: block;
    padding: 19px 62px;
    border-radius: 8px;
    background-color: white;
    color: #0075ff;
    border: 2px solid #0075ff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    line-height: 14px;
    font-weight: bold; }

@media screen and (max-width: 320px) {
  .gallery__button {
    margin: 32px auto 0;
    width: 280px; } }

.gallery__caption {
  margin-top: 24px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px; }

@media screen and (max-width: 1000px) {
  .gallery__caption {
    margin-top: 16;
    margin-bottom: 32px; } }

.gallery__link {
  color: #0075ff; }

.heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  text-align: center; }
  .heading__crown {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    width: 23px;
    height: 16px;
    margin: auto;
    background-image: url("/images/crown.svg");
    background-repeat: no-repeat; }

.section__heading {
  margin-bottom: 93px; }

@media screen and (max-width: 1000px) {
  .heading {
    margin-bottom: 53px;
    font-size: 36px;
    line-height: 36px; }
  __crown {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 23;
    height: 16;
    top: 36px; } }

.button {
  margin-top: 16px;
  display: block;
  font-size: 14px;
  line-height: 1;
  color: white;
  background-color: #0075ff;
  -webkit-transition: background-color;
  transition: background-color;
  padding: 19px 62px;
  border-radius: 10px;
  border: none;
  width: 413px;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

@media screen and (max-width: 1000px) {
  .button {
    width: 280px; } }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
  .consultation__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 16px; }
  .consultation__form {
    width: 380px; }

@media screen and (max-width: 1000px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text {
      margin-bottom: 32px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media screen and (max-width: 1000px) {
  .form {
    margin: 0 auto;
    width: 280px; } }

.input {
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  height: 48px;
  padding: 17px;
  margin-bottom: 16px;
  width: 100%; }
  .input__textarea {
    height: 166px; }

@media screen and (max-width: 1000px) {
  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .input__text, .input__form {
      width: 100%; } }

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media screen and (max-width: 1000px) {
  .testimonials {
    grid-template-columns: repeat(1, 280px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.person {
  text-align: center;
  margin-bottom: 48px; }
  .person__photo {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-bottom: 24px; }
  .person__name {
    margin-bottom: 4px; }
  .person__position {
    margin: 0;
    margin-bottom: 13px;
    color: #9fadc2; }
  .person__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
  .person__link {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff; }

@media screen and (max-width: 1000px) {
  .person__photo {
    margin-bottom: 28px; } }

.footer {
  height: 540px;
  position: relative;
  background-image: url("/images/footer.jpg");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    background-image: url(/images/logo.png);
    background-size: cover;
    height: 76px;
    width: 115px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 95px; }

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 108px; }
  .contact__text {
    font-size: 14px;
    line-height: 27px; }
  .contact__address-h3, .contact__phone-h3, .contact__email-h3 {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin-bottom: 8px; }
  .contact__phone {
    margin-bottom: 24px; }
  .contact__link, .contact__email, .contact__address {
    color: #3e3e3e; }

@media screen and (max-width: 1000px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__email {
      margin-bottom: 24px; }
    .contact__address {
      margin-bottom: 32px; } }

/*# sourceMappingURL=main.css.map */
